{% extends "base.html" %}
{% block content %}
  <div class="box">
    <h1 class="title is-3">Car Number {{ number }}</h1>
    <p class="keyboard-hint">Results: {{ cars|length }}</p>
    <p>Select the car you want to view.</p>
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Reporting Mark</th>
          <th>Type</th>
          <th>Class</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for car in cars %}
        <tr>
          <td><a href="{{ url_for('main.car_detail', car_id=car.id) }}">{{ car.id }}</a></td>
          <td>{{ car.railroad.reporting_mark if car.railroad else (car.reporting_mark_override or '-') }}</td>
          <td>{{ car.car_type_override or (car.car_class.car_type if car.car_class else "-") }}</td>
          <td>{{ car.car_class.code if car.car_class else '-' }}</td>
          <td>{{ car.location.name if car.location else '-' }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="5">No cars found with that number.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
