{% extends "base.html" %}
{% block content %}
  <div class="panel">
    <h1>Tools</h1>
    <table>
      <thead>
        <tr>
          <th>Tool</th>
          <th>Description</th>
          <th>Open</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PRR Home Shop Repair Form</td>
          <td>Fill out and render a PRR Home Shop repair notice.</td>
          <td><a class="tag" href="{{ url_for('main.prr_home_shop_repair') }}">Open</a></td>
        </tr>
        <tr>
          <td>Scale AAR Plate Viewer</td>
          <td>Calculate and preview scaled AAR plate clearances.</td>
          <td><a class="tag" href="{{ url_for('main.aar_plate_viewer') }}">Open</a></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
